*~
*.log
*.trs
.dirstamp
/.version
/mit*.tar.gz
Makefile
Makefile.in
TAGS
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/install-sh
/libltdl
/libtool
/missing
/depcomp
/lib
/stamp-h1
/test-driver
m4/gnulib-cache.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/ltargz.m4
m4/ltdl.m4
