*.log
*.trs
/.deps
/.libs
/hello.obj
/hello.output
/arithmetic
/branch
/call_native
/comparison
/exceptions
/extra_instructions
/init
/literals
/load_object
/logic
/memory
/registers
/run
/single_step
/stack
