*.lo
*.log
*.trs
/.deps
/.libs
/libtest.la
/arithmetic
/branch
/call_native
/comparison
/exceptions
/extra_libc
/init
/load_object
/logic
/memory
/numbers
/registers
/run
/save_object
/single_step
/stack
