*.lo
*.log
*.trs
/.deps
/.libs
/libtest.la
/hello.obj
/hello.output
/arithmetic
/branch
/call_native
/comparison
/exceptions
/extra
/init
/load_object
/logic
/memory
/numbers
/registers
/run
/single_step
/stack
