/.deps
/.libs
/smite_core/__pycache__
*.lo
*.o
*.labels_pickle
*.predictor_pickle
/autom4te.cache
/config.log
/config.status
/libsmite.la
/smite
/smite.exe
/smite.1
/smite-include.man
/instructions.c
/main.c
/ext.c
/opcodes.h
/ext-opcodes.h
/registers.h
/gen-main
/type-sizes
/type-sizes.ac
/smite_core/type_sizes.py
