/.deps
/.libs
/smite_core/__pycache__
*.lo
*.o
*.labels_pickle
*.predictor_pickle
/autom4te.cache
/config.log
/config.status
/libsmite.la
/smite
/smite.1
/smite-include.man
/smite.h
/instructions.c
/extra.c
/opcodes-core.h
/opcodes-extra.h
/registers.h
/type-sizes
/type-sizes.ac
/smite_core/type_sizes.py
