/.deps
/.libs
/smite_core/__pycache__
*.lo
*.o
/autom4te.cache
/config.log
/config.status
/libsmite.la
/smite
/smite.exe
/smite.1
/smite-include.man
/instructions.c
/main.c
/ext.c
/gen-main
/type-sizes
/type-sizes.ac
/smite_core/type_sizes.py
